@charset "UTF-8";
/*
* mem-posts.css
* 19/03/2015
* @since 1.1.3
* Stylesheet for custom post types
*/
	/*
	 * General
	 */
	.side-meta	{
		font-size: 11px;
	}
	/*
	 *
	 * Hidden DIV's
	 *
	 */
	#paid_to_field	{
		display: none;
	}
	#paid_from_field	{
		display: block;
	}
	#new_transaction_type_div	{
		display: none;
	}
	/*
	 *
	 * Column/Row Layouts
	 *
	 */
	.mem-post-row	{
		overflow: auto;
		height: 60px;
	}

	/* -- 3 Column -- */
	.mem-post-3column	{
		float: left;
		width: 33%;
	}

	.mem-post-last-3column	{
		float: right;
		width: 33%;
	}
	/* -- 2 Column -- */
	.mem-post-2column	{
		float: left;
		width: 50%;
	}

	.mem-post-last-2column	{
		float: right;
		width: 50%;
	}
	/* -- 1 Column -- */
	.mem-post-row-single	{
		overflow: auto;
		height: 60px;
	}
	.mem-post-row-single-textarea	{
		overflow: auto;
		height: 90px;
	}
	.mem-post-1column	{
		float: right;
		width: 100%;
	}

	/*
	 *
	 * Tags
	 *
	 */
	.mem-label {
		font-weight: bold;
	}
	.mem-label .description {
		font-weight: normal;
		font-size: 11px;
	}
	.mem-description {
		font-weight: normal;
		font-size: 11px;
	}
	/*
	 *
	 * Meta Boxes
	 *
	 */
	.mem-meta-row	{
		overflow: auto;
		height: 30px;
	}
	.mem-left-col	{
		width: auto;
		float: left;
	}
	.mem-right-col	{
		width: auto;
		float: left;
	}
	select.mem-meta {
		font-size: 11px;
	}
	input.mem-meta {
		font-size: 11px;
	}
	.mem-meta-title {
		font-weight: bold;
	}
	.mem-meta-title .count {
		color:#999;
		font-weight:400;
		font-size: 11px;
	}
	.mem-meta-latest {
		font-size: 11px;
	}

	/*
	 * jQuery
	 */
	.mem-form-error {
		color: #F00;
		font-weight: bold;
	}
	input.mem-form-error {
		border: solid 1px #F00;
		color: #000000;
		font-weight: normal;
	}
	select.mem-form-error {
		border: solid 1px #F00;
		color: #000000;
		font-weight: normal;
	}
	textarea.mem-form-error {
		border: solid 1px #F00;
		color: #000000;
		font-weight: normal;
	}
	checkbox.mem-form-error {
		border: solid 1px #F00;
		color: #000000;
		font-weight: normal;
	}
	.mem-form-valid {
		color: #000000;
	}
	.mem-input-currency {
		width: 75px;
	}

	/*
	 * Tables
	 */
	tr.border_top th {
		border-top: 1pt solid #ddd;
	}
